.container-btn {
    margin: 1rem;
    padding: 6px;
    
}

.list-button {
  display: flex;
  flex-wrap: wrap;
}


button {
    margin: 1rem;
}



.danger {
    background-color: red;
}

.text {
    background-color: teal;
}

.md {
    background-color: blue;
}

.secondary {
    background-color: #455A64;
}

.secondary:hover {
  background-color: #1C313A;
}

.danger:hover {
    background-color: #9A0007;
}

.outline {
    background-color: white;
    color: blue;
    border: blue 1px solid;
}

.outline:hover {
  background-color: rgb(205, 206, 241);
}



